{% extends "layout.html.twig" %}

{% block content %}

    <div class="page-header">
        <h1>Wysiwyg editors</h1>
    </div>

    <div class="row">

        <div class="col-md-12">

            <p>
                Pick your vice:
            </p>

            <ul>
                {% for editor in editors %}
                <li><a href="{{ editor }}.php">{{ editor }}</a></li>
                {% endfor %}
            </ul>

        </div>

    </div>


{% endblock %}
